* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}
body {
    background: white;
    margin: 0;
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    white-space: nowrap;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  .logo {
    text-transform: uppercase;
    color: #e3b873;
    margin-left: 92px;
  }
  
  .number {
    text-align: right;
    text-decoration-line: underline;
    color: #e3b873;
    margin: 0px 45px 0px 67px;
  
  }
  
  .header {
    background-color: #181818;
    width: 1440px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    height: 83px;
    font-size: 11px;
    line-height: 15px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto; 
    position: relative;
  }
  
  .nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
  } 
  
  .nav-menu {
    margin-right: 47px;
  }
  
  .nav-menu a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
 
  
  .button {
    padding: 13px 33px;
    width: 161px;
    height: 37px;
    background-color: #E3B873;
    border-radius: 2px;
    margin-right: 90px;
    font-size: 11x;
    display: inline-block;
    border: none;
    font-style: italic;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
  }

/*nav ul li {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 11x;
    display: flex;
    display:inline-block;
    justify-content: space-between;
}*/

.pack_turnkey {
    background-image: url('../Design-agency/image\ 4.3.jpg');
    width: 1440px;
    height: 707px;
    background-size: cover;
}

h1 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 40px;
    line-height: 53,13px;
    color: #FFFFFF;
    padding-top: 194px;
    margin-left: 134px;
    margin-bottom: 20px;
}

.city {
    color: #e3b873;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 40px;
}
.get {
    margin-left: 134px;
    color: white;
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.application {
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    border-radius: 2px;
    margin-left: 134px;
    font-size: 11x;
    display: inline;
    border: none;
    font-style: italic;
}

.cost {
    width: 207px;
    height: 51px;
    background-color: white;
    border-radius: 2px;
    margin-right: 872px;
    display: inline;
    border: none;  
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}
.pack_compleated {
    height: 1070px;
    width: 1438px;
    left: 1px;
    top: 790px;
    border-radius: 0px;
    background-color: black;
    display: inline-block
}

.ul-cities {
    padding-top: 107px;
    margin-left: 626px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19,4px;
    text-transform: uppercase;
    list-style-type: none;
 }
    .cities:last-child {
    justify-content: flex-end;
    margin-right: 700px; /*189px*/
    float: right;
  }

.photo_1 {
    height: 482,3px;
    width: 679px;
    margin-left: 627px;
    top: 13px;
    border-radius: 0px;

}
.projects {
    margin-right: 189px;
    margin-left: 626px;
}

h2 {
    height: 66px;
    width: 253px;
    margin-left: 135px;
    margin-bottom: 34px;
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-align: left;
    color: #E3B873;
    text-transform: uppercase;
}

.only {
    height: 81px;
    width: 442px;
    margin-left: 135px;
    margin-top: 50,64px;
    border-radius: nullpx;
    color: white;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 42px;
}

h3 {
    height: 22px;
    width: 66px;
    margin-left: 135px;
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3B873;

}

.LCD, .square, .months, .upon {
    height: 42px;
    width: 161px;
    margin-left: 135px;
    border-radius: nullpx;
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.pack_compleated {
    display: inline-block;
    height: 1070px;
    width: 1438px;
    left: 1px;
    top: 790px;
    border-radius: 0px;

}
.photo_1{
    position: relative;
    margin-top: 176px;
    right: 133px;
}

.grid-wrapper {
    display: grid;
    grid-template-areas: "div div"
                         "div div";
    grid-template-columns: 218px 218px;
    grid-template-rows: 50px 50px;
    
}
.left, .photo_1 {
    display: inline;
}