body {
  background: white;
  margin: 0;
  font-family: 'Nunito Sans', 'Open Sans', sans-serif;
  white-space: nowrap;
}

body * {
  box-sizing: border-box;
}

.logo {
  text-transform: uppercase;
  color: #e3b873;
  margin-left: 92px;
}

.number {
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
  margin: 0px 45px 0px 0px;

}

.header {
  background-color: #181818;
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 83px;
  font-size: 11px;
  line-height: 15px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto; 
  position: relative;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
} 

.nav-menu {
  margin-right: 47px;
}

.nav-menu a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-menu a:hover{
  color: #e3b873;
  transition: 0.1s;
  transition-delay: 0.09s;
}

.button {
  padding: 13px 33px;
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  border-radius: 2px;
  margin-right: 90px;
  font-size: 11x;
  display: inline-block;
  border: none;
  font-style: italic;
  color: #FFFFFF;
  font-family: 'Nunito Sans';
  text-transform: uppercase;
}

.pack_turnkey {
background-image: url('../Design-agency/image\ 4.3.jpg');
max-width: 1440px;
height: 707px;
background-size: cover;
}

h1 {
font-family: 'Yeseva One';
font-weight: 400;
font-size: 40px;
line-height: 53,13px;
color: #FFFFFF;
padding-top: 194px;
margin-left: 134px;
margin-bottom: 20px;
text-transform: uppercase;
}

.city {
color: #e3b873;
font-family: 'Yeseva One';
font-weight: 400;
font-size: 40px;
}
.get {
margin-left: 134px;
color: white;
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

.application {
width: 207px;
height: 51px;
background-color: #E3B873;
border-radius: 2px;
margin-left: 134px;
font-size: 11x;
display: inline;
border: none;
font-style: italic;
}

.cost {
width: 207px;
height: 51px;
background-color: white;
border-radius: 2px;
margin-right: 872px;
display: inline;
border: none;  
font-family: Nunito Sans;
font-size: 11px;
font-style: italic;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;

}  
.section_wrapper {
position: relative;
height: 1853px;
}

.left_section {
position: relative;
background-color: #181818;
background-size: cover;
height: 1074px;
padding-left: 134px;
}

.pack_compleated {
position: relative;
display: flex;
flex-direction: row;
align-self: flex-start;
padding-bottom: 92px;
}

.projects {
margin-top: 176px;
}

.projects_left_section {
display: grid;
margin-top: 42px;
grid-template-areas: "div div"
                     "div div";
gap: 17px;
grid-template-columns: 190px 1fr;
justify-items: start;
text-align: start;
}

h2 {
font-family: 'Yeseva One', serif;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
color: #E3B873;
margin: 0px 0px 34px;
text-transform: uppercase;
}

.main_subtitle {
font-size: 18px;
line-height: 25px;
letter-spacing: 0;
margin: 0px 0px 9px; 
color: #e3b873;
font-family: Yeseva One;
font-weight: 400;
text-align: left;
text-transform: uppercase;
}

.cities a {
margin-top: 50px;
margin-right: 60px;
text-decoration: none;
font-size: 14px;
letter-spacing: 0;
color: rgba(255, 255, 255, 0.3);
text-transform: uppercase;
}

.subtitle_cities_first {
text-decoration: none;
border-bottom: 1px solid #e3b873;
}

.cities a:hover {
text-decoration: underline;
color: #e3b873;
transition: 0.1s;
transition-delay: 0.085s;
}

.black-chairs {
position: relative;
height: 482px;
width: 679px;
margin-right: 133px;
filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
margin-top: 39px;
}

.p {
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 36px;
color: #FFFFFF;
margin: 0px;
}
.Rostov {
font-family: Nunito Sans;
font-size: 13px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.only {
font-size: 14px;
line-height: 27px;
color: white;
}

.arrows {
margin-top: 79.64px;
cursor: default;
position: relative;
display: flex;
list-style-type: none;
}

.online_control {
margin: 0 auto;
width: 196px;
height: 66,79px;
}

.cities {
margin-top: 107px;
margin-left: 47px;
width: 623px;
font-family: Yeseva One;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.map {
    border: 5px solid black;
    padding: 40px 0;
    text-align: center;
}
.map_container {
    max-width: 800px;
    margin: 0 auto;
}
.map_title {
    margin: 0 auto;
    width: 589px;
    height: 51px;
}.map_h2 {
    font-size: 20px;
    line-height: 27.72px;
}
